*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body{
    background: hsl(0, 0%, 8%);
}

.center{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social{
    width: 420px;
    height: 700px;
    background: hsl(0, 0%, 12%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img{
    background-image: url('../assets/images/avatar-jessica.jpeg');
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 100px;
    margin-top: 50px;
}

.self h2{
    color: hsl(0, 0%, 100%);
    margin-top: 30px;
    font-weight: 600;
}

.self > p{
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.p{
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 15px;
    margin-top: 40px;
    margin-bottom: 20px;
}

a{
    width: 350px;
    height: 50px;
    background-color: hsl(0, 0%, 20%);
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    line-height: 50px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-top: 15px;
}

a:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}